node_modules
dist
coverage
.next
.next/**
**/.next/**
apps/web/.next
apps/web/.next/**
legacy-ui
legacy-ui/**
/coverage/
/.next/
pgsql
/generated/
**/.gen.ts
**/.generated.ts
**/coverage/**
**/__generated__/**
apps/bff/src/modules/sso/oidc/oidc.service.ts
apps/bff/src/modules/graphql/resolvers/directory.resolver.ts